@import './assets/css/fonts.css';

:root {
  font-family: IranSans, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: var(font-family);
}

.ant-input{
  padding: 10px 11px !important;
}

.ant-dropdown-menu-title-content{
  font-weight: 600;
}

.ant-pagination{
  justify-content: center !important;
}

.ant-pagination-item {
  font-weight: 600 !important;
}