@import './assets/css/fonts.css';

:root {
  font-family: IranSans, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: var(font-family);
}

.ant-input{
  padding: 10px 11px !important;
  font-weight: 600;
}

.ant-input-password{
  padding: 0 11px;
}

.ant-dropdown-menu-title-content{
  font-weight: 600;
}

.ant-pagination{
  justify-content: center !important;
}

.ant-pagination-item {
  font-weight: 600 !important;
}

.ant-form-item{
  height: 60px;
}

.ant-form-item-row{
  flex-direction: column;
  height: 60px;
  .ant-form-item-label{
    text-align: right;
  }
}

.signIn-field{
  .ant-form-item-row{
    flex-direction: row !important;
  }
}

.text-area{
  height: 265px;
}

.ant-modal-body{
  padding: 5px 0px 95px 0;
}

.create-form{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.ant-select-in-form-item{
  height: 44px;
}